 p{
	text-align:center;
	margin:10px;
	padding:35px 20px 35px 20px;
	font-family:"Domine", serif;
	font-size:18px;
}
 h3{
 text-align: center;
}
.objectives li{
	padding:0 20px 35px 20px;
}
.benefits li{
	padding:0 20px 35px 20px;
}