
.blog{
  margin:15px 0 15px 0;
}
.widget{
  margin-bottom: 40px;
  padding:15px;
  border:1px solid #dedede;
}
.widget h3{
  margin-top:8px;
  text-align: center;
}
.widget ul li{
  list-style: none;
}
.widget ul li a{
  color:black;
}
.widget ul{
  padding-left:13px;
}
.input-group{
  margin-top:20px;
}
.blog-content .blog-meta span:after {
  content: '/';
  padding: 0 3px 0 6px;
}
.blog-content .blog-meta {
  color: #9a9a9a;
  font-weight: 300;
  margin-bottom: 25px;
}
.blog-content h2 a {
  color: #444;
  font-weight: 400;
  font-size: 30px;
}
.blog-content h2 {
  font-family: 'Roboto', sans-serif;
}
.blog-content .btn-details {
  color: #02bdd5;
  padding: 0;
  background: #02bdd5;
  color: #fff;
  padding: 8px 18px;
  border-radius: 0;
  margin-top: 15px;
  border: 1px solid #fff;
  box-shadow: 0px 0px 0px 1px #02bdd5;
}
.blog-content .blog-meta p {
  margin-top: 20px;
}
.blog-post-image {
  margin-top: 30px;
}
.sidebar {
  padding-top: 60px;
}
.sidebar .search button:hover {
  background: transparent;
}
.sidebar .recent-post ul li a {
  color: #555;
  font-size: 15px;
}
.sidebar .recent-post ul li a:hover {
  color: #02bdd5;
}
.sidebar .recent-post time {
  font-weight: 300;
  color: #999;
  font-size: 12px;
}
.sidebar .popular-post ul li a {
  color: #555;
  font-size: 15px;
}
.sidebar .popular-post ul li a:hover {
  color: #02bdd5;
}
.sidebar .popular-post time {
  font-weight: 300;
  color: #999;
  font-size: 12px;
}