*{
	box-sizing: border-box;
}
html,body{
	margin: 0;
	padding: 0;
}
body{
	font-family: "Arial", "Helvetica", sans-serif;
	min-height: 100vh;
}

/*..header configuration starts here..*/
.header .container-fluid{
  padding:0;
  }
  img{
	max-width: 100%;
	height:auto;
}
.navbar{
	margin-bottom: 0px;
}
.collapse ul li a{
   color:#fff;
   font-size: 15px;
   padding-top: 23px;
}
.collapse .active a{
	color: #fddf60;
}
.collapse ul li a:hover{
	background:transparent;
	color: #02bdd5;
}
.icon-bar{
	background-color: #fff;
}
.carousel-inner p{
  padding-top:30px;
  padding-right:0px;
}
.carousel-inner h1{
  font-size:16px;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 2%;
    background-color: #fff;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 10px;
    background-color: #c2acd3;
}
/*..box configuration starts here..*/
#box{
	
	margin-top: 24px;
	margin-bottom: 24px;
	text-align: center;
}



.icon2:hover{
	transform:scale(1.1);
}
.icon:hover{
	transform: scale(1.1);
}
.icon1:hover{
	transform: scale(1.1);
}

/*..definition configuration starts here..*/
.about p{
	text-align:center;
	margin:10px;
	padding:35px 20px 35px 20px;
	font-family:helvetica neue, sans-serif;
	font-size:18px;
}
#definition{
	background-color: #f6f6f6;
}
/*..video starts here..*/

.responsive-video{
   width: 100%;
   height: 0;
   position: relative;
  
   padding-bottom: 50%;
}
.responsive-video iframe{
  position: absolute;
  width: 100%;
  height: 100%;
}

/*..course configuration starts here..*/
.course{
	background-color: #f6f6f6;
	padding-bottom:35px;
	padding-left:30px;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
.nav-pills li a{
	color:black;
 }
.nav-pills li.active a{
   background-color: #541757 !important;
}
.tab-content{
	margin:20px;
}
.course ul li{
	margin:7px;
	font-size:20px;
	font-weight:bold;
}

.gallery{
 padding-bottom: 10px;
}
/*..testimonial configuration starts here..*/
#testimonial{
	
	padding:30px 40px 30px 40px;
	text-align: center;
}
#demo{
	text-align: center;
}
.testimonial h3{
	font-size:25px;
	font-weight:bold;
}

  #quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 40px;
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-indicators {
    position: relative;
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-top: 20px;
    margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    opacity: 0.4;
    overflow: hidden;
    transition: all .4s ease-in;
    vertical-align: middle;
}
#quote-carousel .carousel-indicators .active {
    width: 128px;
    height: 128px;
    opacity: 1;
    transition: all .2s;
}
.item blockquote {
    border-left: none;
    margin: 0;
}
/*.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}*/
 
/*..footer starts here..*/
#footer{
	color:#fff;
	background-color: #541757;
	padding-top: 17px;
	text-align: center;
}
.footer h3{
	color:#fff;
}
.navi li{
	list-style-type: none;
	padding-right: 42px;
}
.footer-item a{
	color: #fff;
}
.navi li a:hover{
	background:transparent;
	color: #02bdd5;
	text-decoration: none;
}
.info li{
	list-style-type: none;
	text-align: center;
}
.social li{
	display: inline-block;
	padding-right:20px;
}

.copyright{
	margin:10px auto;
	text-align: center;
	color:#fff;
	border-top:2px dotted #c2acd3;
	padding:20px 0 20px 0;
}
